$font: 'Mosk Normal 400';
$font-semi-bold: 'Mosk Semi-Bold 600';
$font-bold: 'Mosk Extra-Bold 800';

$bg: #ffffff;
$light: #ffffff;
$main-color: #8460AA;
$bg-light: #f7f8fb;
$bg-alternarive: #8DCAE8;
$bg-a: #96A3B7;

$border: 1px solid #EEF1F6;

body {
  margin: 0;
  position: relative;
  background-color: $bg-light;
  font-family: $font;
  padding-top: 60px;
}

*:focus {
  outline: none !important;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.visible {
  visibility: visible;
}

.header {
  position: relative;
  padding-top: 5px;

  &--top {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
  }
}

.header:after {
  content: '';
  width: 100%;
  position: absolute;
  top: 52px;
  height: 3px;
  left: 0;
  background: linear-gradient(to right, $main-color, $bg-alternarive);
}

.img {
  width: 100%;
}

.icon {
  width: 50px;

  &--load {
    @extend .icon;
    display: inline-block;
    background: url('../styles/img/load.svg');
    height: 12.5px;
  }

  &--load-center {
    @extend .icon;
    display: inline-block;
    background: url('../styles/img/load-all.svg');
    height: 12.5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.load {
  position: absolute;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.title {
  margin: 1em 0;
  font-size: 16px;
  font-family: $font;
}

.paragraph {
  margin: 0;
  font-size: 14px;
  font-family: $font;
}

.clear {
  &--space {
    margin-top: 5px;
    margin-bottom: 5px;
  }

   &--button {
    margin-bottom: 15px;
  }

  &--p-l {
    padding-left: 2px;
  }
}

.button {
  background-color: $main-color;
  color: $light;
  text-decoration: none;
  font-size: .9em;
  padding: 5px;
  @include border-radius(5px);
  border: 0;
  cursor: pointer;

  &--toggle {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCgk8dGl0bGU+DQoJCUljb24gVG9nZ2xlDQoJPC90aXRsZT4NCgk8cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjYWFhYWFhIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIC8+DQo8L3N2Zz4NCg==');
    background-size: 70% 70%;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-left: 5px;
  }

  &--toggle:active {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCgk8dGl0bGU+DQoJCUljb24gVG9nZ2xlDQoJPC90aXRsZT4NCgk8cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjOERDQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIC8+DQo8L3N2Zz4NCg==');
  }

  &--toggle:focus {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCgk8dGl0bGU+DQoJCUljb24gVG9nZ2xlDQoJPC90aXRsZT4NCgk8cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjOERDQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIC8+DQo8L3N2Zz4NCg==');
  }

  &--facebook {
    color: #ffffff;
    background-color: #4C69BA;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-shadow: 0 -1px 0 #354C8C;
    padding-left: 40px;
    background-image: url('../styles/img/icon_facebook.png');
    background-position: 6px 6px;
    background-repeat: no-repeat;
  }

  &--facebook:before {
    border-right: #364e92 1px solid;
    background-image: linear-gradient(#4C69BA, #3B55A0);
  }

  &--facebook:focus,
  &--facebook:hover {
    background-color: #5B7BD5;
    background-image: url('../styles/img/icon_facebook.png');
    background-position: 6px 6px;
    background-repeat: no-repeat;
  }

  &--google {
    color: #ffffff;
    background: #DD4B39;
    padding: 7px 10px 10px 40px;
    background-image: url('../styles/img/icon_google.png');
    background-position: 6px 6px;
    background-repeat: no-repeat;
  }

  &--google:before {
    border-right: #BB3F30 1px solid;

  }

  &--google:focus,
  &--google:hover {
    background: #E74B37;
    background-image: url('../styles/img/icon_google.png');
    background-position: 6px 6px;
    background-repeat: no-repeat;
  }

}

.link {
  text-decoration: none;
  color: $main-color;

  &--block {
    @extend .link;
    display: block;
  }
}

.logo {
  color: $main-color;
  font-size: 1.5em;
  font-family: $font-bold;
  line-height: 36px;

  &__link {
    @extend .link;
  }

  &__main {
    width: 140px;
    height: 30px;
    background: url('../styles/img/MontaPC.svg');
    background-size: 140px 30px;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.align {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.search {
  width: 100%;
  padding: 20px 0;

  &__input {
    width: 90%;
    padding: 1%;
    border: #ffffff;
  }

  &__group {
    padding: 5px;
    width: 96%;
    margin: auto;
    background-color: #ffffff;
    border: $border;
    @include border-radius(2px);
  }

  &__button {
    @extend .button;
    width: 8%;
    padding: 1%;
  }
}
@media screen and (max-width: 750px) {
  .search {
    &__input {
      width: 78%;
    }

    &__button {
      width: 20%;
    }
  }
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 230px;
  background-color: $light;
  margin-top: 15px;
  border: $border;
  @include border-radius(2px);
  box-shadow: 0 4px 21px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 104, 128, .1);
  z-index: 2;
}

.account {
  color: $bg-a;
  padding-top: 6px;

  &__link {
    @extend .link;
    font-size: .9em;
  }

  &__span {
    font-size: .9em;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__button {
    @extend .button;
    font-size: .9em;
  }
}

.list {
  list-style: none;
}

.pc {
  &__title {
    color: $main-color;
    font-size: 1.2em;
    border-bottom: $border;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0 5px 10px;
  }
}

.item {
  list-style: none;
  text-align: center;
  border-bottom: $border;

  &__link {
    @extend .link;
    font-size: .9em;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
  }

  &__link:hover {
    background-color: $bg-light;
  }
}

.figure {
  width: 100%;

  &--user {
    display: inline-block;
    width: 30px;
    height: 30px;
    @include border-radius(20px);
    border: $border;
    overflow: hidden;
    background-color: $bg-light;
  }

  &--user-pc {
    margin: 5% auto;
    width: 70%;
    display: inline-block;
    @include border-radius(100px);
    border: $border;
    overflow: hidden;
    background-color: $bg-light;
  }
}

.user {
  display: inline-block;

  &__img {
    border-radius: 100%;
    border: 1px solid $bg-a;
  }

  &__title {
    font-family: $font-semi-bold;
    font-size: .9em;
    line-height: 1.2em;
    color: $bg-a;
  }
}

.infos {
  width: 100%;
  text-align: center;
  border-bottom: $border;
  padding: 10px 0;

  &__figure {
    width: 80px;
    height: 80px;
    @include border-radius(50px);
    overflow: hidden;
    margin: auto;
  }

  &__img {
    width: 100%;
  }
}

.name {
  width: 94%;
  text-align: center;
  padding: 10px 3% 0;
  color: $bg-a;
  font-family: $font-semi-bold;
}

.toggle {
  width: 30px;
  height: 30px;
  top: 0;
  float: right;
}

.box {
  width: 96%;
  padding: 2%;
  background-color: $bg;
  border:$border;
  text-align: center;
}

.box-login {
  margin: auto;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  border: $border;
  text-align: center;
  display: inline-block;
}

.box-input{
  background-color: #ffffff;
  border: $border;
}